.btn {
  position: relative;
  overflow: hidden;
}
.btn:after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 450px;
  height: 450px;
  margin: auto;
  opacity: 0;
  transition: all 1s;
}

.btn:active:after {
  height: 10px;
  width: 10px;
  opacity: 1;
  transition: 0s;
}
